body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #F4F4F2; 
}

.noticias{
    text-align: center;
    margin-top: auto;
}

#homeimg{

    margin-top: 70px;
}

#ciclo{
    text-align: center;
}

#link{
    text-align: center;
}

.imgfinal{
    max-width: 100%;
    height: auto;
}

#icon{
    width: 25px;
    height: 25px;
}

.col{ color: #99661F;
}

#piedepagina{
    width: 1500px;
    height: 300px;
}

#cor{
    text-align: center;
}

#somosimg{
    max-width: 100%;
    height: auto;
}

footer{
	position: fixed;

}
 
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}

