body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #F4F4F2; 
}

.noticias{
    text-align: center;
    margin-top: auto;
}

#homeimg{

    margin-top: 70px;
}

#ciclo{
    text-align: center;
}

#link{
    text-align: center;
}

.imgfinal{
    max-width: 100%;
    height: auto;
}

#icon{
    width: 25px;
    height: 25px;
}

.col{ color: #99661F;
}

#piedepagina{
    width: 1500px;
    height: 405px;
    max-width: 100%;
}

#cor{
    text-align: center;
}

#somosimg{
    max-width: 100%;
    height: auto;
}

footer{
	position: fixed;

}
 
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}

.pie .izq,
.pie .centro,
.pie .derecho{
	display: inline-block;
	vertical-align: top;
}

.pie .izq{
    width: 30%;
    color: #99661F;
}



.pie .centro{
    width: 35%;
    color: #99661F;
}

.pie .centro p{
	display: flexbox;
    vertical-align: middle;
	margin:0;
}

.pie .derecho{
    width: 35%;
}

@media (max-width: 880px) {

	.pie .izq,
	.pie .centro,
	.pie .derecho{
		display: contents;
		width: 100%;
		margin-bottom: 10px;
		text-align: center;
	}


}

.pie .centro p{
	display: inline-block;
	vertical-align: middle;
	margin:0;
}

.pie .derecho a{
	display: inline-block;
	vertical-align: middle;
	margin:0;
}